/*ELEMENT selectors come first, ranked from Big (body, html, section) to Small (a, p, input)*/

html {
    color: #222;
    font-size: 1.5em;
    line-height: 1.4;
    font-family: 'Arial', serif;
}

body{
    background-color: #f1f1f1;
    min-height: 100%;
}

p{
	font-weight: 300;
	line-height: 1.4;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
    a:hover{
        color: #283F98;
    }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/*end of ELEMENT selectors*/

/*CONVENIENCE selectors come next. these are CSS classes that are generally helpful to have around but don't have a specific purpose in your design.*/

.rel{position:relative;}
.right{float: right !important;}
.left{float: left !important;}
.clear{clear: both;} 
.invisible {visibility: hidden;}
.faded{opacity: 0.5;}
.textright{text-align: right;}
.textcenter{text-align: center;}
.padded{padding: 1em;}
.row{height: 400px;}
.fill{min-height: 100%;}


/*Clearfix is weird, we'll talk more about it.*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*end of CONVENIENCE selectors*/

/*CLASS selectors come next. this is the largest section of the stylesheet. these are specific classes that have structural or aesthetic purposes in your design.*/

.center-column{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.left-column{
    width: 80%;
}

.grid-host{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 100px 1fr;
    grid-template-areas: "sidebar content1"
                         "smallbox stripe"
                         "follower content2";
}

.grid-host div{
    box-sizing: border-box;
    padding: 12px;
}

    .grid-host .sidebar{grid-area: sidebar;}
    .grid-host .c1{grid-area: content1;}
    .grid-host .smallbox{grid-area: smallbox;}
    .grid-host .stripe{grid-area: stripe;}
    .grid-host .smallbox{grid-area: follower;}
    .grid-host .c2{grid-area: content2;}
    .grid-host .overrun{
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
      }

.flex-grid-host{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
    .f-end{justify-content: flex-end;}
    .f-start{justify-content: flex-start;}

.flex-item{
    position: relative;
    width: 25%;
    border: 1px solid;
    padding: 12px;
    box-sizing: border-box;
}

.flex-item.fixed{
    width: 125px;
    height: 125px;
}

.flex-item.full{
    position: relative;
    width: 100%;
}

/*end of CLASS selectors*/

/* ID selectors come next. These are super-specific selectors that apply to single items.*/

#pitch{
    font-size: 2.5em;
    color: #0F36B0;
}

#floater{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9;
}

#first-bubble{
    position: absolute;
    top: 200px;
    left: 100px;
}

#second-bubble{
    position: absolute;
    top: 20px;
    right: 105px;
}

/*end of ID selectors*/

/*Finally, media queries belong at the very bottom. */

@media (max-width: 800px){
	html, body{
        font-size: 1em;
	}
}

/*end of Media Queries*/
